<h1 mat-dialog-title>Invite user</h1>
<mat-dialog-content>
  <div class="yellow-theme">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Add Details</ng-template>
          <h3>Who would you like to invite?</h3>
          <div class="invite-content">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastCtrl" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input matInput formControlName="emailCtrl" (keyup)="myKeyup()" required>
            </mat-form-field>
          </div>
          <div class="tenant">
            <h3>Which tenant they belong to</h3>
            <div class="tenant-form">
              <mat-form-field appearance="outline">
                <mat-label>Tenant filled by default and can be changed</mat-label>
                <input matInput formControlName="tenantCtrl" required>
              </mat-form-field>
              <h4>as</h4>
              <mat-form-field appearance="outline">
                <mat-select placeholder="Role" formControlName="roleCtrl" required>
                  <mat-option value="admin" *ngIf="user.rootAdmin">Admin</mat-option>
                  <mat-option value="standart user">Standart User</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Send Invite</ng-template>
          <div class="send-invite-container">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="textareaCtrl" required rows="3"></textarea>
            </mat-form-field>
            <div class="btns-container">
              <button mat-raised-button color="warn" [mat-dialog-close]>Close</button>
              <div class="control-btns">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button color="accent" (click)="submit()">Send Invite</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-dialog-content>