.login-history-container {
  padding: 1% 2%;

  mat-form-field {
    font-size: 10px;
    margin: 0 18px;
  }

  .invite-header {
    display: flex;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
  }
}
