<app-header></app-header>

<mat-tab-group>
  <mat-tab label="People" *ngIf="userRole !== 'Standart User'">
    <ng-template matTabContent>
      <app-invite [userRole]="userRole"></app-invite>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tenants" *ngIf="userRole === 'Root Admin'">
    <ng-template matTabContent>
      <app-tenant-groups></app-tenant-groups>
    </ng-template>
  </mat-tab>
  <!--
  <mat-tab label="Login History" *ngIf="userRole !== 'Standart User'">
    <ng-template matTabContent>
      <app-login-history></app-login-history>
    </ng-template>
  </mat-tab>
  -->
  <mat-tab label="Files">
    <ng-template matTabContent>
      <app-files-page></app-files-page>
    </ng-template>
  </mat-tab>
</mat-tab-group>
