<app-header></app-header>

<mat-tab-group>
  <mat-tab label="People">
    <ng-template matTabContent>
      <app-invite></app-invite>
    </ng-template>
  </mat-tab>
  <mat-tab label="Tenants">
    <ng-template matTabContent>
      <app-tenant-groups></app-tenant-groups>
    </ng-template>
  </mat-tab>
  <mat-tab label="Login History">
    <ng-template matTabContent>
      <app-login-history></app-login-history>
    </ng-template>
  </mat-tab>
  <mat-tab label="Files">
    <ng-template matTabContent>
      <app-files-page></app-files-page>
    </ng-template>
  </mat-tab>
</mat-tab-group>