<h1 class="location-title">Reset Password</h1>
<p class="location-title2">Please enter the desired password for your account below.</p>
<form class="location" (ngSubmit)="onSubmit()" #myForm="ngForm" [formGroup]="constructForm">
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password1" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Reiteration your password</mat-label>
      <input matInput formControlName="password2" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="!myForm.form.valid" class="button-style" mat-button routerLink="/root-admin-dashboard">Recover Password</button>
</form>