/deep/ mat-sidenav-content.mat-drawer-content {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: #1e88c9;
  color: #fff;
  padding-right: 10px;
  align-items: center;
  & button {
    width: 100px;
  }
}
.photo{
  width: 3%;
}