<mat-sidenav-container>
  <img src="../assets/images/user.png" class="photo" >
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <span>{{ username }}</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/edit-profile">Edit Profile</button>
    <button mat-menu-item routerLink="/">Settings</button>
    <button mat-menu-item routerLink="/login" (click)="logout()">Logout</button>
  </mat-menu>
</mat-sidenav-container>