<h1 class="location-title">Registration Form</h1>
<form class="example-form location" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="First Name*" [formControl]="fullname" required>

  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="Last Name" required>
  </mat-form-field>
  <div class="example-container">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter your email*" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <span matPrefix >+ &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone*" [formControl]="tel" required >
    <mat-error *ngIf="tel.invalid">{{getErrorPhoneNumber()}}</mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <p>
  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="Address">
  </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="City">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="State">
    </mat-form-field ></td>
    </tr>
  </table>
  <mat-form-field class="example-full-width" appearance="outline">
    <input type="text" placeholder="Secret Question*" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <input matInput placeholder="Answer*" [formControl]="answer" required>
  </mat-form-field>
<button type="submit" class="button-style" mat-button>Log in</button>

</form>
