<h1 class="location-title">Login AerialPoint</h1>
<form class="location">
    <div class="example-container">
        <mat-form-field  appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input matInput [formControl]="email" autocomplete="off" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'"required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </div>
    <a href="#" class="Lost-password">Lost password?</a>
    <button class="button-style" mat-button routerLink="/root-admin-dashboard">Log in</button>

</form>