<h1 class="location-title">Registration Form</h1>
<form class="example-form location" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput [formControl]="fullname" autocomplete="off" required>

  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput  [formControl]="lastname" required>
  </mat-form-field>
  <div class="example-container">
    <mat-form-field appearance="outline">
      <mat-label>Enter your email*</mat-label>
      <input matInput [formControl]="email" autocomplete="off" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Telephone</mat-label>
    <span matPrefix >+ &nbsp;</span>
    <input type="tel" matInput [formControl]="tel" autocomplete="off" required >
    <mat-error *ngIf="tel.invalid">{{getErrorPhoneNumber()}}</mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <p>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput>
  </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0">
    <tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>State</mat-label>
      <input matInput>
    </mat-form-field ></td>
    </tr>
  </table>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Secret Question</mat-label>
    <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  required>
    <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Answer</mat-label>
    <input matInput [formControl]="answer" autocomplete="off" required>
  </mat-form-field>
<button type="submit" class="button-style" mat-button>Log in</button>

</form>
