<div class="invite-container">
  <div class="invite-header">
    <div class="search">
      <mat-form-field appearance="outline">
        <mat-label>Quick Search</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-stroked-button>Go!</button>
    </div>
    <div class="filter">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Sort By..." [ngModel]="sortBy" (ngModelChange)="changRole($event)">
          <mat-option value="Standart User"> Standard User </mat-option>
          <mat-option value="Tenant Admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="accent" (click)="openDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()">
          <span>send invites</span>
        </button>
        <button mat-menu-item routerLink="/delete-user">
          <span>deleted users</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-button color="accent" (click)="onEditable(row)" *ngIf="!row.editable">Edit</button>
          <button mat-button color="accent" (click)="onEditUser(row)" *ngIf="row.editable">Save</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.firstname}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.firstname">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.lastname}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.lastname">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="tenant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenant </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.tenant}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.tenant">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.email}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.email">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.group}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.group">
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="!row.editable">{{row.tenantAdmin ? 'Tenant Admin' : (row.rootAdmin ? 'Root Admin' : 'Standart
            User')}}</span>
          <mat-form-field appearance="outline" *ngIf="row.editable">
            <input matInput [(ngModel)]="row.tenantAdmin">
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>