<app-header></app-header>

<div class="edit-profile" *ngIf="user">
  <div class="user-pii">
    <h3>{{ user.firstname }} {{ user.lastname }}</h3>
  </div>
  <form class="edit-form" [formGroup]="editProfileFormGroup">
    <div class="col-2">
      <div class="row">
        <label>Name</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="TestName" formControlName="firstNameCtrl" required>
        </mat-form-field>
        <label>Surname</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="TestSurname" formControlName="surnameCtrl" required>
        </mat-form-field>
      </div>
      <div class="row">
        <label>Email</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email address" formControlName="emailCtrl" required>
        </mat-form-field>
        <label>Adress</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Test Address" formControlName="addressCtrl" required>
        </mat-form-field>
      </div>
      <div class="row">
        <label>Phone</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Telephone number" formControlName="phoneCtrl" required>
        </mat-form-field>
      </div>
    </div>
    <div class="col-1">
      <div class="image-container">
        <img src="http://i.pravatar.cc/150">
      </div>
    </div>
    <div class="edit-footer">
      <div class="row">
        <label>Role</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="roleCtrl">
        </mat-form-field>
        <div [ngSwitch]="getRole()">
          <div *ngSwitchCase="'root admin'"></div>
          <div *ngSwitchDefault>
            <label>Tenant</label>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Tenant group name" formControlName="tenantCtrl" required>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="controls-panel">
    <button mat-raised-button color="accent" (click)="back()">Close</button>
  </div>
</div>