mat-form-field {
  font-size: 10px;
}
.edit-profile {
  padding: 1% 2%;
  .edit-form {
    display: flex;
    flex-wrap: wrap;
    & .col-2 {
      width: 75%;
      & .row {
        display: flex;
        align-items: baseline;
        & label {
          width: 150px;
        }
        & mat-form-field {
          margin-right: 60px;
          width: 100%;
          max-width: 330px;
        }
      }
    }
    & .col-1 {
      width: 25%;
      display: flex;
      justify-content: center;
      & .image-container {
        & img {
          border-radius: 100px;
        }
      }
    }
    .edit-footer {
      .row {
        display: flex;
        align-items: baseline;
        width: 100%;
        label {
          width: 150px;
        }
        mat-form-field {
          margin-right: 60px;
          width: 330px;
        }
      }
    }
  }
  .primary{
    background-color: #6cbf50;
    color: white;
  }
  .controls-panel {
    display: flex;
    justify-content: space-between;
  }
}