.location-title{
  text-align: center;
  color: gray;
  padding-top: 50px;
  font-family: Open Sans,sans-serif;
}
.location{
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}
.example-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.example-container > * {
  width: 100%;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;

}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;

}

input.example-right-align {
  -moz-appearance: textfield;
}
.Lost-password{
  text-decoration: none;
  color: #36a5ed;
  text-align: center;
  display: block;
  padding-top: 10px;

}
.button-style{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #6cbf50;
  padding: 6px 189px;
  color: #ffffff;
  margin-top: 6px;
}