<h1 class="location-title">Recover Password</h1>
<form class="location">
  <div class="example-container">
    <mat-form-field  appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput [formControl]="email" autocomplete="off" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

  </div>
  <button class="button-style" mat-button>Recover Password</button>
  <a routerLink="../login" class="Lost-password">Return to Login </a>
</form>
