<app-header></app-header>

<div class="delete-user-contant">
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Quick Search</mat-label>
      <input matInput>
    </mat-form-field>
      <button mat-stroked-button>Go!</button>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let user of deleteUsers">
      <div class="checkbox-column">
        <mat-checkbox class="example-margin" [(ngModel)]="user.select">
        </mat-checkbox>
      </div>
      <div class="name-column">
        <p>{{ user.name }}</p>
      </div>
      <div class="surname-column">
        <p>{{ user.surname }}</p>
      </div>
      <div class="email-column">
        <p>{{ user.email }}</p>
      </div>
      <div class="date-column">
        <p>{{ user.accepted }}</p>
      </div>
    </mat-list-item>
  </mat-list>
  <span>*Showing users deleted within the last 30 days</span>
  <div class="controls-panel">
    <button mat-raised-button color="warn" (click)="back()">Close</button>
    <button mat-raised-button color="accent">Restore selected</button>
  </div>
</div>